@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;1,600&display=swap");

/* resets */
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow: hidden;
  z-index: -1;
}
.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.background span:nth-child(0) {
  color: #ffffff;
  top: 50%;
  left: 23%;
  animation-duration: 7s;
  animation-delay: -32s;
  transform-origin: 1vw -8vh;
  box-shadow: 40vmin 0 5.685333668026254vmin currentColor;
}
.background span:nth-child(1) {
  color: #ffffff;
  top: 5%;
  left: 18%;
  animation-duration: 11s;
  animation-delay: -38s;
  transform-origin: -3vw -14vh;
  box-shadow: -40vmin 0 5.8046384530314565vmin currentColor;
}
.background span:nth-child(2) {
  color: #ffffff;
  top: 49%;
  left: 5%;
  animation-duration: 28s;
  animation-delay: -41s;
  transform-origin: 15vw -1vh;
  box-shadow: 40vmin 0 5.414211014968458vmin currentColor;
}
.background span:nth-child(3) {
  color: #ffffff;
  top: 47%;
  left: 67%;
  animation-duration: 30s;
  animation-delay: -21s;
  transform-origin: 24vw -13vh;
  box-shadow: -40vmin 0 5.855478776118206vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffffff;
  top: 42%;
  left: 22%;
  animation-duration: 43s;
  animation-delay: -44s;
  transform-origin: -17vw -13vh;
  box-shadow: -40vmin 0 5.908904309878023vmin currentColor;
}
.background span:nth-child(5) {
  color: #ffffff;
  top: 44%;
  left: 49%;
  animation-duration: 10s;
  animation-delay: -37s;
  transform-origin: 15vw 0vh;
  box-shadow: -40vmin 0 5.266257040387423vmin currentColor;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --h1-color: #000;
  --background-image: linear-gradient(white, #419eba);
  --button-background: #000;
  --navBar-background: #fff;
  --icon-background: #fff;
  --text-color: #fff;
  --padding-inline-block: 20px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
}

h1 {
  letter-spacing: 2px;
  font-size: 1.75rem;
  font-weight: 900;
}

h2 {
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  font-weight: 800;
}
h5 {
  margin-top: 0.625rem;
}

p {
  letter-spacing: 1.1px;
  font-size: 1.2rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  display: inline-block;
  color: white;
  /* transform: 0.2s ease-in-out; */
  font-size: 1.4rem;
  font-weight: 600;
}

a:hover {
  color: pink;
  /* background-color: var(--button-background); */
  /* border-radius: 8px; */
  /* padding: 10px; */
  /* text-decoration: underline; */
  font-weight: bolder;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-block);
  margin-top: 5px;
}
.dcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 500vh; */
}

.signup-box,
.login-box {
  padding: 30px;
  text-align: center;
  max-width: 100%;
}

.loginh2 {
  font-size: 50px;
  height: max-content;
  font-weight: 900;
  /* background: linear-gradient(to right, #c9e2ba 0%, #aaec8e 50%, #0a880c 100%); */
  /* background-clip: text; */
  color: white;
}

.loginform {
  display: flex;
  flex-direction: column;
}

.logininput {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  margin-bottom: 20px;
  font-size: 20px;
  /* background: linear-gradient(to right, #c9e2ba 0%, #aaec8e 50%, #0a880c 100%); */
  /* background-clip: text; */
  color: black;
  font-weight: 900;
  caret-color: white;
}

.buttonlog {
  padding: 10px;
  margin: 0.625rem;
  background-color: #064687;
  font-weight: 900;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buttonlog:hover {
  background-color: #0d5cb6;
}
.otherlinks {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style: none;
  color: var(--h1-color);
  justify-content: end;
  margin-top: 20px;
}

li {
  margin-inline: 20px;
  text-transform: capitalize;
  font-weight: 600;
}

/* utility */

.primary-button {
  border-color: var(--button-background);
  color: white;
  background: transparent;
  padding: 10px 25px 10px 25px;
  margin: 30px;
  display: inline-block;
  width: 120px;
  height: 40px;
  align-items: center;
  /* text-transform: capitalize; */
}
.primary-button:hover {
  background-color: var(--button-background);
  border-color: transparent;
  padding: 10px 25px 10px 25px;
  margin: 30px;
  display: inline-block;
  width: 120px;
  height: 40px;
  color: blue;
  /* text-transform: capitalize; */
  align-items: center;
  border-radius: 0px;
  /* transform: 0.4s ease-in-out; */
}

.service-button {
  border-color: var(--button-background);
  color: white;
  background: transparent;
  /* padding:10px 25px 10px 25px; */
  /* margin: 30px; */
  display: inline-block;
  width: 120px;
  height: 40px;
  align-items: center;
  text-decoration: none;
  align-self: center;
  margin-left: 30px;
  font-family: "Times New Roman", Times, serif;

  /* text-transform: capitalize; */
}
.service-button:hover {
  /* background-color: var(--button-background); */
  /* border-color: transparent; */
  /* padding:10px 25px 10px 25px; */
  /* margin: 30px; */
  display: inline-block;
  /* width: 120px; */
  /* height: 40px; */
  color: var(--text-color);
  /* text-transform: capitalize; */
  align-items: center;
  align-self: center;
  border-radius: 0px;
  text-decoration: none;
  /* transform: scaleY(3) ; */
  letter-spacing: 2px;
  /* border-radius: 10px; */
  background: black;

  /* transform: 0.4s ease-in-out; */
}

/* navbar */
.mainNav{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

#mainNav{
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    /* transform: 0.2s ease-in-out; */
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  #mainNav:hover {
    color: blue;
    /* background-color: var(--button-background); */
    /* border-radius: 8px; */
    /* padding: 10px; */
    /* text-decoration: underline; */
    font-weight: bolder;
  }

nav section img {
  width: 100%;
  margin-right: 20px;
  /* margin-bottom: 200px !important; */
}
#mainflex {
    display: flex;
    justify-content: center;
    position: relative;
     /* align-items: center; */
     margin-bottom:100px ;
  } 
.leftnav {
    left:0;
  margin-top: 10px;
  justify-content: start;
  float: inline-start;
  position: absolute;
}

.rightnav {
  margin-top: 15px;
  justify-content: space-evenly;
  float:inline-end;
  position: absolute;
  right:0;
  margin-bottom: 20px;
}

/* main */

.mains {
  background-image: var(--background-image);
}

.mainright img {
  height: 100vh;
  align-content: end;
}

.mainleft {
  margin-left: 60px;
}

/* about */

.aboutsection {
  background-color: white;
}

.about {
  margin-top: 120px;
  text-align: center;
}

.abouttext p {
  /* margin-block: 50px; */
  margin-bottom: 100px;
}

/* services */
.services {
  background-image: var(--background-image);
  padding-block: 50px;
}

.servicestext {
  text-align: center;
  margin-bottom: 50px;
}

.doctor {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doctor a {
  margin-top: 20px;
  margin-bottom: 50px;
}

.doctor img {
  margin: 30px;
}

.patient {
  flex-direction: column;
}

.patient a {
  margin-top: 20px;
  margin-bottom: 50px;
}

.patient img {
  margin: 30px;
}

.shadow {
  display: grid;
  place-items: center;
  color: #fff;
  position: relative;
  width: 60%;
  /* background-color: rgb(255, 255, 255); */
  /* box-shadow: 5px 10px #ffffff;/ */
  /* background: #15202B; */
  background: url(/asset/BYTE\BUILDERS.jpg);
  /* background-image: url(/asset/BYTE\BUILDERS.jpg); */
  background-size: cover;
  transition: 5s;
  border: none;
  /* box-shadow: 5px 0 10px #dcf8fd, 0 5px 10px rgb(151, 230, 242), -5px 5px 10px rgb(121, 218, 238),0 -5px 10px #8eeee1; */
}
.shadow::before,
.shadow::after {
  content: "";
  position: absolute;
  /* top: -4px; */
  /* left: -4px; */
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  /* box-shadow: 5px 0 10px #ffffff; */
  animation: animate 5s linear infinite;
  border: none;
}

.shadow::after {
  filter: blur(25px);
  border: none;
}

@keyframes animate {
  0% {
    box-shadow: 5px 0 10px #8eeee1, 0 5px 10px rgb(255, 255, 255),
      -5px 5px 10px rgb(255, 255, 255), 0 -5px 10px #ffffff;
  }

  25% {
    box-shadow: 5px 0 10px rgb(255, 255, 255), 0 5px 10px #8eeee1,
      -5px 5px rgb(255, 255, 255) 0, 0 -5px 10px #8eeee1;
  }

  50% {
    box-shadow: 5px 0 10px #8eeee1, 0 5px 10px rgb(255, 255, 255),
      -5px 5px 10px rgb(255, 255, 255), 0 -5px 10px rgb(255, 255, 255);
  }
  75% {
    box-shadow: 5px 0 10px rgb(255, 255, 255), 0 5px 10px rgb(255, 255, 255),
      -5px 5px 10px rgb(255, 255, 255), 0 -5px 10px rgb(255, 255, 255);
  }
  100% {
    box-shadow: 5px 0 10px #ffffff, 0 5px 10px rgb(255, 255, 255),
      -5px 5px 10px rgb(255, 255, 255), 0 -5px 10px #ffffff;
  }
}
/* footer */

<<<<<<< Updated upstream
footer {
  background-color: var(--button-background);
  color: var(--text-color);
  padding-block: 20px;
}
/*signup*/

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.form_wrapper {
  background: #fff;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 25px;
  margin: 8% auto 0;
  position: relative;
  z-index: 1;
  border-top: 5px solid #f5ba1a;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  /* -webkit-transform-origin: 50% 0%; */
  /* transform-origin: 50% 0%; */
  /* -webkit-transform: scale3d(1, 1, 1); */
  /* transform: scale3d(1, 1, 1); */
  /* -webkit-transition: none; */
  /* transition: none; */
  /* -webkit-animation: expand 0.8s 0.6s ease-out forwards; */
  /* animation: expand 0.8s 0.6s ease-out forwards; */
  /* opacity: 0; */
}
.form_wrapper h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
}
.form_wrapper .title_container {
  text-align: center;
  padding-bottom: 15px;
}
.form_wrapper h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}
.form_wrapper label {
  font-size: 12px;
}
.form_wrapper .row {
  margin: 10px -15px;
}
.form_wrapper .row > div {
  padding: 0 15px;
  box-sizing: border-box;
}
.form_wrapper .col_half {
  width: 50%;
  float: left;
}
.form_wrapper .input_field {
  position: relative;
  margin-bottom: 20px;
  -webkit-animation: bounce 0.6s ease-out;
  animation: bounce 0.6s ease-out;
}
.form_wrapper .input_field > span {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  height: 100%;
  border-right: 1px solid #cccccc;
  text-align: center;
  width: 30px;
}
.form_wrapper .input_field > span > i {
  padding-top: 10px;
}
.form_wrapper .textarea_field > span > i {
  padding-top: 10px;
}
.form_wrapper input[type=text], .form_wrapper input[type=email], .form_wrapper input[type=password] {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form_wrapper input[type=text]:hover, .form_wrapper input[type=email]:hover, .form_wrapper input[type=password]:hover {
  background: #fafafa;
}
.form_wrapper input[type=text]:focus, .form_wrapper input[type=email]:focus, .form_wrapper input[type=password]:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
  background: #fafafa;
}
.form_wrapper input[type=submit] {
  background: #f5ba1a;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form_wrapper input[type=submit]:hover {
  background: #e1a70a;
}
.form_wrapper input[type=submit]:focus {
  background: #e1a70a;
}
.form_wrapper input[type=checkbox], .form_wrapper input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.form_container .row .col_half.last {
  border-left: 1px solid #cccccc;
}

.checkbox_option label {
  margin-right: 1em;
  position: relative;
}
.checkbox_option label:before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.5em;
  vertical-align: -2px;
  border: 2px solid #cccccc;
  padding: 0.12em;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}
.checkbox_option label:after {
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  content: "";
  height: 20px;
  left: 2px;
  position: absolute;
  top: 7px;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  width: 7px;
  display: none;
}
.checkbox_option input:hover + label:before {
  border-color: #000000;
}
.checkbox_option input:checked + label:before {
  border-color: #000000;
}
.checkbox_option input:checked + label:after {
  -moz-animation: check 0.8s ease 0s running;
  -webkit-animation: check 0.8s ease 0s running;
  animation: check 0.8s ease 0s running;
  display: block;
  width: 7px;
  height: 20px;
  border-color: #000000;
}

.radio_option label {
  margin-right: 1em;
}
.radio_option label:before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.5em;
  border-radius: 100%;
  vertical-align: -3px;
  border: 2px solid #cccccc;
  padding: 0.15em;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}
.radio_option input:hover + label:before {
  border-color: #000000;
}
.radio_option input:checked + label:before {
  background-color: #000000;
  border-color: #000000;
}

.select_option {
  position: relative;
  width: 100%;
}
.select_option select {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding: 0px 15px;
  cursor: pointer;
  color: #7b7b7b;
  border: 1px solid #cccccc;
  border-radius: 0;
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.2s ease;
}
.select_option select::-ms-expand {
  display: none;
}
.select_option select:hover, .select_option select:focus {
  color: #000000;
  background: #fafafa;
  border-color: #000000;
  outline: none;
}

.select_arrow {
  position: absolute;
  top: calc(50% - 4px);
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7b7b7b transparent transparent transparent;
}

.select_option select:hover + .select_arrow, .select_option select:focus + .select_arrow {
  border-top-color: #000000;
}

.credit {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 15px;
  color: #f5ba1a;
}
.credit a {
  color: #e1a70a;
}

@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 7px;
  }
  50% {
    height: 20px;
    width: 7px;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 7px;
  }
  50% {
    height: 20px;
    width: 7px;
  }
}
@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
    transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
    transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
    transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .form_wrapper .col_half {
    width: 100%;
    float: none;
  }

  .bottom_row .col_half {
    width: 50%;
    float: left;
  }

  .form_container .row .col_half.last {
    border-left: none;
  }

  .remember_me {
    padding-bottom: 20px;
  }
}
/*singup end*/
=======
.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footer-section{
    /* background-color: #0d2735; */
    /* background: url(/images/footer\ -\ bg.png); */
    /* background:url(/homepage/asset/f)  */
    margin-top: 100px;
    margin-bottom: 0px;
    color: #fff;
   }
  
   .sub-footer{
    background:url(/homepage/asset/)
    /* padding : 10px 10px;
    margin-bottom: 0px;
    margin-top: 0px; */
   }


   .footerbackground{
    background-image: url(asset/footer_bg_2.png);
    background-repeat: no-repeat;
    
   }
  
  
  
  .footer-head{
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
  }
  
  .social-icons:hover{
    transform: scale(1.3);
    translate: 0 -7.5px;
  
  }
  
  .footer-links{
    text-decoration: none;
    background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
    font-size: larger;
  
  }
  
  .footer-links:hover{
    text-decoration: underline;
    text-decoration-color: #6ef3f5;
  }
  
  
  .links_footer{
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer-reachOut,.mail-link{
    font-family: 'Raleway', sans-serif;
    font-weight: 300px;
    font-size: large;
    text-decoration: none;
    color: white;
  }
>>>>>>> Stashed changes
